.Reg-container {
    display: flex;
    justify-content: center;
    width:850px;
    height: 850px;
    margin-left: 330px;;
}

.contrainer{
    
    margin:auto;
    margin-top:80px;
    background-color: aliceblue;
    padding-bottom: 20px;
    width:780px;
    margin-bottom:100px;
    
   

}
.invalid-feedback
{
    font-size: 12px;
    color: red;
}
.left-column,
.right-column {
  flex: 1;
  padding: 10px;
  margin-left: 30px;
  
}
.side-image {
    flex: 1;
    width:10px;
    margin-top:80px;
    margin-bottom:100px;
    img{
        width: 350px;
        height: 573px;
    }
}
.two-column-container {
    display: flex;
    justify-content: space-between;
  }


.header{
display: flex;
flex-direction: column;
align-items: center;
gap:9px;
width:100%;
margin-top:20px;
}
.text{color: rgb(32, 66, 24);
font-size:20px ;
font-weight: 700;}
.underline{
width:68px;
height: 5px;
background: rgb(32, 66, 24);
border-radius: 8px;
}
.inputs
{
    
margin-top: 10px;
display: flex;
flex-direction: column;
gap:5px;

}
.left-column .input ,
.right-column .input{
display: flex;
align-items: center;
margin-left: 8px;
width: 260px;
height:40px;
padding-right:25px;
background: #eaeaea;
border-radius: 28px;}
.input img{margin:0px 30px;}
.left-column .input input .form-control,
.right-column .input input .form-control,
.right-column .input select .form-control{height: 40px;
    width:470px;
    background: transparent;
    border:none;
    padding-right:15px;
outline:none;
color: rgb(119, 113, 106);
font-size: 13px;
overflow: auto;
}
.right-column .input select{
    height: 40px;
    width:470px;
    background: transparent;
    border:none;
    padding-right:15px;
outline:none;
color: rgb(119, 113, 106);
font-size: 13px;
overflow: auto;
}
.submit-contrainer{
    margin: 2px;
}


.submit-contrainer button{
    display: flex;
        justify-content: center;
        align-items:center;
        width: 160px;
        height: 10px;
        margin-left: 2px;
        color:#fff;
        background-color: green;
        border-radius: 10px;
   }
   .submit button{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 220px;
    height: 59;
    color:#fff;
    background-color: green;
    border-radius: 50px;

}
.submit-Predictcontrainer{
    margin: 10px;
    display: flex;
}
.submit-CusRegcontrainer{
    margin-left: 20px;
    display: flex;
}
.submit-CusRegcontrainer button{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 230px;
    height: 50px;
    margin-left: 2px;
    color:#fff;
    background-color: green;
    border-radius: 40px; 
    padding-left: 10px;
}
.submit-Predictcontrainer button{
        display: flex;
        justify-content: center;
        align-items:center;
        width: 140px;
        height: 40px;
        margin-left: 2px;
        color:#fff;
        background-color: green;
        border-radius: 40px;
        
   }
   .submit-Appointmentcontrainer button{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 280px;
    height: 40px;
    margin-left: 2px;
    color:#fff;
    background-color: green;
    border-radius: 40px;
   }